body {
	background-image: url("img/entry2.jpg");
	background-size: 100%;
	background-position: center;
}
.arrow-up, .arrow-down{
	color: yellow;
	text-align: center;
	font-family: exocet, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.title, .enemy-name, .action-hld, .protag-name, .items-gold{
	text-align: center;
	font-family: exocet, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: gold;
}
#hp-bar, #en-hp-bar {
	background-color: gold;
	border: solid gold;
	padding: 1px 3px;
}
#red-bar, #en-red-bar{
	background-color: red;
	padding-left: 5px;
}
.arrow-left, .arrow-right{
	color: yellow;
}

.align-left-arw, .align-right-arw{
	align-self: center;
}

.align-right-arw{
	text-align: left;
		font-family: exocet, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.align-left-arw{
	text-align: right;
	font-family: exocet, sans-serif;
	font-style: normal;
	font-weight: 300;
}
#obj-img {
	height:250px;
}

#map{
	color: gold;
	position: fixed;
	right: 100px;
	top: 50px;
}